{% extends "base.html.twig" %}
{% set page_title = 'Login' %}

{% block body %}
    <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="{{ path('login') }}">
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Bitte tragen Sie hier ihre Accountdaten ein.</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="email_input_container"
                         class="form-group {% if error is defined and error is not null %}has-danger{% endif %}">
                        <label class="sr-only" for="username">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa {#fa-at#} fa-user"></i></div>
                            <input class="form-control" type="text" id="username" name="_username" value="{% if last_username is defined %}{{ last_username }}{% endif %}" required
                                   autofocus placeholder="E-Mail">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    {% if error is defined and error is not null %}
                        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i>
                            <div id="email_error_feedback_text">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" id="password" name="_password" class="form-control"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input class="form-check-input" name="remember"
                                   type="checkbox">
                            <span style="padding-bottom: .15rem">Remember me</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}