#overview_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
}

#overview_table td, #overview_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#overview_table tr:nth-child(even){background-color: #f2f2f2;}

/*#overview_table tr:hover {background-color: #ddd;}*/

#overview_table th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*text-align: left;*/
    /*background-color: #4CAF50;*/
    /*color: white;*/

    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}