#run_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
}

#run_table td, #run_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#run_table tr:nth-child(even){background-color: #f2f2f2;}

/*#run_table tr:hover {background-color: #ddd;}*/

#run_table th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*text-align: left;*/
    /*background-color: #4CAF50;*/
    /*color: white;*/

    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}
.fa-minus:hover {
    background-color: lightgray;
    border-radius: 25px;
    border: lightgray solid 5px;
    /*margin: 5px;*/

}
.fa-minus {
    border: transparent solid 5px;
}

.content-wrapper {
    width: 100%;
}
